.user {
    height: 100vh;
    padding: 20px;
    background-color: rgb(0, 0, 0, 0.8);
}

    .user .player {
        min-height: 400px;
        min-width: 400px;
        height: 50vh;
        width: 50vw;
    }

    .user .nav-btn {
        position: fixed;
        margin-top: 16px;
        right: 20px;
        z-index: 100;
    }

.user__header {
    display: flex;
    justify-content: space-between;
    padding-bottom: 10px;
}

.user__backloginbtn {
    display: flex;
    justify-content: center;
    align-items: center;
}
